.brand-slider{
    overflow: hidden;
    padding: 20px;
}
.brand-track{
    display: flex;
    animation: scroll 5s linear  infinite;
    width: calc(200px * 14);
}
.brand-track img{
    width: 120px;
    padding: 25px;
}
@keyframes scroll{
    0% {
       transform: translateX(0);  
    }
    100%{
        transform: translateX(-10%);
    }
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(160px , 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.cards img{
  border-radius:20%;
  padding:5px;
  transition:0.3s;
  cursor: pointer;
  
}
.cards img:hover{
    transform: translateX(-10%);
}
.poster-img{
width:100%;
border-radius:12px;
transition:0.3s;
cursor: pointer;
}

.poster-img:hover{
transform:scale(1.03);
}

